.load-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    height: 67px;
    background-color: #38383a;
    text-align: center;
    line-height: 67px;
    cursor: pointer;
    transition: all linear .3s;
    border-radius: 6px;
    transition: all linear .3s;
    &:hover {
        background-color: #444447;
    }
    &:hover > *  {
        color:#ffffff;
        fill: #ffffff !important; 
    } 
    &:hover > svg {
        fill: #ffffff !important; 
    }
}
.load-text {
    margin-left: 26px;
    color: rgba(0,0,0, 0.6);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.92px;
}

