.news {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 35px 31px;
    grid-auto-rows: 416px;
    &_item {
        position: relative;
        z-index: 1;
        height: 416px;
        background-color: #ffffff;
        border-radius:6px 6px 6px 6px;
        &-img {
            width: 100%;
            height: 183px;
            object-fit: cover;
            border-radius:6px 6px 0 0;
        }
        &-theme {
            display: inline-block;
            position: absolute;
            top: 32px;
            left: 36px;
            &-text {
                padding: 7px 10px;
                color: #ffffff;
                font-family: 'Merriweather Sans', sans-serif; 
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 2.16px;
                border-radius: 10px;
            }
        }
        &-text {
            padding-top: 31px;
            padding-bottom: 20px;
        }
        &-title {
            margin: 0 auto;
            width: 256px;
            color: #38383a;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.36px;
            text-align: left;
        }
        &-desc {
            margin: 0 auto;
            width: 260px;
            padding-top: 22px;
            color: #656565;
            font-family: Merriweather;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
        }
        &-group-link {
            position: absolute;
            left: 37px;
            bottom: 16px;
            width: 280px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &-btn {
            width: 140px;
            height: 35px;
            border: 1px solid rgba(0, 0, 0, 1);
            color: #000000;
            font-family: 'Merriweather Sans', sans-serif; 
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 3.84px;
            text-align: center;
            border-radius: 20px;
            text-decoration-line: none;
            transition: all linear .3s;
            line-height: 35px;
            &:hover {
                color: rgba(255, 255, 255, 1);
                background-color: #2e2e30;
                border-color: transparent;
            }
        }
        &-like {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33px;
            height: 33px;
            padding: 9px;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 1);
            border-radius: 100%;
            outline: none;
            cursor: pointer;
            transition: all linear .3s;
            &:hover {
                fill: #ffffff;
                background-color: #2e2e30;
                border-color: transparent;
            }
        }
        &-comment {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 75px;
            height: 34px;
            padding: 11px 18px;
            border: 1px solid rgba(0, 0, 0, 1);
            text-align: center;
            border-radius: 20px;
            text-decoration-line: none;
            transition: all linear .3s;
            color: rgba(0, 0, 0, 1);
            font-family: 'Merriweather Sans', sans-serif; 
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
            &:hover {
                background-color: #2e2e30;
                border-color:transparent;
                fill: #ffffff;
                color:rgba(255, 255, 255, 1);
            }
            &-icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                opacity: 0.5;
                text-align: center;
            }
            &-number {
                opacity: 0.5;
                color: #000000;
                font-family: 'Merriweather Sans', sans-serif; 
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
            }
        }
    }
}



.bg-people {
    background-color: #e52a40;
}
.bg-lifestyle {
    background-color: #4b77be;
}
.bg-travel {
    background-color: #663399;
}
.bg-technology {
    background-color: #e87e04;
}
.bg-economy {
    background-color: #e74c3c;
}
.bg-home {
    background-color: #4183d7;
}
.bg-country {
    background-color: #26a65b;
}
.bg-newpost {
    background-color: #065858;
}
.img-big {
    width: 241px;
    height: 250px;
}
.big-title {
    margin: 0;
    width: 347px;
    font-size: 24px;
    line-height: 36px;
}
.big-desc {
    width: 381px;
}
.big-group-link {
    margin-top: 63px;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.margin-top_theme {
    left: 50%;
    transform: translateX(-50%);
}
.margin-top_line {
    margin-top: 31px;
}
.title-no-img {
    width: 222px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.48px;
}
.desc-no-img {
    text-align: center;
}
.img-cover {
    position: absolute;
    height: 100%;
    z-index: -1;
    border-radius: 6px 6px 6px 6px;
}
.title-slider {
    color: #ffffff;
    letter-spacing: -0.36px;
    text-align: center;
}
.border-slider {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.comment-number-slider {
    color: #ffffff;
}
.slider-dots {
    transform: translateY(40px);
    padding-top: 24px;
}
.slider-dots-item {
    display: inline-block;
    margin-right: 13px;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 100%;
    cursor: pointer;
}
.slider-desc {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
.active-slide,
.slider-dots-item:hover {
    background-color: rgb(58, 58, 58);
}




.news_item:nth-child(5n + 2) {
    grid-column: span 2;
}

hr {
    position: absolute;
    bottom: 71px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: 1px;
    background-color: #000000;
    opacity: 0.2;
    border:none;
}

.df-big {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.df-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_item-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.slider-link > * {
    color: #ffffff;
    fill: #ffffff;
    border-color: #ffffff;
}

@media (max-width: 767px) {
    .news_item:nth-child(5n + 2) {
        grid-column: span 1;
    }
    .img-big {
        position: absolute;
        width: 90%;
        height: 80%;
        z-index: -1;
        opacity: .5;
    }
    .big-title {
        margin: 0 auto;
        width: 256px;
        color: #38383a;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.36px;
        text-align: left;
    }
    .big-desc {
        margin: 0 auto;
        width: 260px;
        padding-top: 22px;
        color: #656565;
        font-family: Merriweather;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }
    .slider-dots {
        text-align: center;
    }
}

.news_item-slider .slider-desc {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media (max-width: 752px) {
    .news_item-title {
        width: 60%;
        text-align: center;
    }
    .news_item-desc {
        width: 80%;
        text-align: center;
    }
}
